.text-field {
    -fx-border-color: black;
    -fx-background-color: white;
    -fx-border-radius: 5px;
}

.text-area {
    -fx-border-color: black;
    -fx-background-color: white;
    -fx-border-radius: 5px;
}

ChoiceBox {
    -fx-background-color: #1961b1;
    -fx-border-radius: 100px;
    -fx-background-radius: 100px;

    -fx-pref-width: 173px;
}

ChoiceBox > .label {
    -fx-text-alignment: center;
    -fx-text-fill: white;

    -fx-background-color: #1961b1;
    -fx-border-radius: 100px;
    -fx-background-radius: 100px;
}

.choice-box .context-menu {
    -fx-background-color: white;

    -fx-pref-width: 173px;
}

.choice-box .menu-item:focused {
    -fx-background-color: #1961b1;
}

.choice-box .menu-item > .label {
    -fx-text-fill: black;
}

.choice-box .menu-item:focused > .label {
    -fx-text-fill: white;
}

ChoiceBox:hover {
    -fx-background-color: #191cb1;
    -fx-cursor: hand;
}

ChoiceBox:hover > .label {
    -fx-background-color: #191cb1;
    -fx-cursor: hand;
}

.moveButton {
    -fx-background-color: #1961b1;
    -fx-text-fill: white;
}

.moveButton:hover {
    -fx-background-color: #191cb1;
    -fx-cursor: hand;
}
.addButton {
    -fx-background-color: #1961b1;
    -fx-text-fill: white;
}

.addButton:hover {
    -fx-background-color: #191cb1;
    -fx-cursor: hand;
}

.errorMess {
    -fx-text-fill: #e75a5a;
}