.user_button {
    -fx-font-size: 12px;
    -fx-background-color: transparent;
    -fx-text-fill: #191cb1;
}

.user_button:hover {
    -fx-text-fill: #1961b1;
    -fx-underline: true;
    -fx-cursor: hand;
}



ChoiceBox {
    -fx-background-color: #1961b1;
    -fx-border-radius: 100px;
    -fx-background-radius: 100px;

    -fx-pref-width: 423px;
    -fx-pref-height: 20px;
}

ChoiceBox > .label {
    -fx-text-alignment: center;
    -fx-text-fill: white;

    -fx-background-color: #1961b1;
    -fx-border-radius: 100px;
    -fx-background-radius: 100px;
}

.choice-box .context-menu {
    -fx-background-color: white;

    -fx-pref-width: 423px;
}

.choice-box .menu-item:focused {
    -fx-background-color: #1961b1;
}

.choice-box .menu-item > .label {
    -fx-text-fill: black;
}

.choice-box .menu-item:focused > .label {
    -fx-text-fill: white;
}

ChoiceBox:hover {
    -fx-background-color: #191cb1;
    -fx-cursor: hand;
}

ChoiceBox:hover > .label {
    -fx-background-color: #191cb1;
    -fx-cursor: hand;
}

.late {
    -fx-text-fill: #e75a5a;
}

.success {
    -fx-text-fill: #20a820;
}