.book_button {
    -fx-font-size: 12px;
    -fx-background-color: transparent;
    -fx-text-fill: #191cb1;
}

.book_button:hover {
    -fx-text-fill: #1961b1;
    -fx-underline: true;
    -fx-cursor: hand;
}