.coverImage {
    -fx-background-color: white;
}

.credit_button {
    -fx-font-size: 10px;
    -fx-background-color: transparent;
    -fx-text-fill: #1961b1;
}

.credit_button:hover {
    -fx-text-fill: #191cb1;
    -fx-underline: true;
    -fx-cursor: hand;
}

.sendButton {
    -fx-background-color: #1961b1;
    -fx-text-fill: white;
}

.sendButton:hover {
    -fx-background-color: #191cb1;
    -fx-cursor: hand;
}

.pwButton {
    -fx-background-color: #1961b1;
    -fx-text-fill: white;
}

.pwButton:hover {
    -fx-background-color: #191cb1;
    -fx-cursor: hand;
}

.pwLabel {
    -fx-font-size: 10px;
}