.header {
    -fx-background-color: white;

    -fx-pref-width: 900px;

    -fx-alignment: center-left;
}

.header > *{
    -fx-background-color: transparent;

    -fx-pref-height: 50px;
    -fx-pref-width: 50px;

    -fx-start-margin: 20px;
}

.header TextField {
    -fx-pref-width: 200px;
    -fx-pref-height: 20px;

    -fx-border-color: black;
    -fx-border-radius: 20px;

    -fx-padding: 0px 0px 0px 5px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
}

.header GridPane {
    -fx-pref-width: 260px;
    -fx-min-height: 70px;
}

.header Region {
    -fx-pref-height: 50px;
    -fx-pref-width: 50px;
}

.header Button:hover {
    -fx-background-color: rgb(200,200,200,0.5);
    -fx-cursor: hand;
}

.menu {
    -fx-min-height: 70px;
    -fx-min-width: 70px;
}

.menu:hover, .menu:showing {
    -fx-background-color: rgb(200,200,200,0.5);
    -fx-cursor: hand;
}

AnchorPane {
    -fx-background-color: #1961b1;
}

